@media screen
{

    .wrapper
    {
	top:50px;
    background: none;

    }
    .wrapper .bd
    {
        background: none;
        position: relative;
    }


    
 
    body.offline
    {
      background-image: none;
      background-color: #FFFFFF;
	  
    }

    .offline .footer {
      margin: 0;
    }
    .offline .header
    {
      width: 100%;
      margin: 0;
      height: auto;
      background-color: #ffffff;
      padding: 10px 0 5px 0;
      overflow: visible;
	  border-bottom: solid #E5E5E5 1px;
	  z-index:1;
	  position:fixed;
    }

    .offline .header .content
    {
    }
    .offline .header .qtref
    {
      color: #00732F;
      position: static;
      float: left;
      margin-left: 5px;
      font: bold 18px/1 Arial;
    }

    .offline .header .qtref:visited
    {
      color: #00732F;
	  }
    .offline .header .qtref:hover
    {
      color: #00732F;
	  text-decoration:none;
	  }
    .offline .header .qtref span
    {
      background-image: none;
      text-indent: 0;
	  text-decoration:none;
    }

    .offline .wrap
    {
        margin: 0 5px 0 5px;
    }

    .offline .wrap .toolbar
    {
      display:block;
	  padding-top:5px;
    }

    .offline .wrap .breadcrumb ul li {
      font-weight: normal;
    }

    .offline .wrap .breadcrumb ul li a {
      /*color: #44a51c;*/
    }

    .offline .wrap .breadcrumb ul li.last a {
      /*color: #363534;*/
    }
    

    
    .narrow .indexboxcont .section {
      width: 64%;
      padding-left: 0;
    }
    
    .narrow .indexboxcont .sectionlist {
      width: 32.5%;
    }

    .header .icon,
	.sidebar,
	.feedback,
	.t_button,
    .feedback,
	#feedbackBox,
	#feedback,
	#blurpage,
	.indexbox .indexIcon span,
	.wrapper .hd,
	.offline .indexbox .indexIcon,
	.offline .header #nav-logo,
	#offlinemenu,
	#offlinesearch,
	.offline .header #nav-topright,
    .offline .header #shortCut ,
	.offline .wrapper .hd,
    .offline .wrapper .ft,
	.offline .sidebar,
	.offline .wrap .feedback
    {
	display:none;
    }

    /* end offline mode */
#narrowmenu {
      display: none;
      float: right;
      margin: 15px 40px 0 0;
      font-size: 11px;
    }

    .narrow #narrowmenu {
      display: block;
    }
	
	#narrowsearch{
		display:none;
	}

	#narrowmenu ul
	{
	  border-bottom:solid 1px #E5E5E5;
	  border-left:solid 1px #E5E5E5;
	  border-right:solid 1px #E5E5E5;
	}

    #narrowmenu a {
      line-height: 1.1;
      background: url(../images/arrow_down.png) no-repeat 100% 50%;
      white-space: nowrap;
      padding: 0 16px 0 5px;
    }

    #narrowmenu li {
      margin-left: 20px;
    }

    #narrowmenu li li {
      margin: 0 0 5px 0;
    }

    #narrowmenu li li a {
      padding: 0;
      background-image: none;
    }

    #narrowmenu li,
    #narrowmenu li ul {
      background-color: #fff;
    }

    #narrowmenu li ul {
      width: auto;
      padding: 5px;
 	  margin-top:-15px;
   }

    .sf-menu li:hover ul, .sf-menu li.sfHover ul {
      top: 1.2em;
    }
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
	.wrap .content ol li {
	background:none;
	font:400 10pt/1 Verdana;
	margin-bottom:10px;
	margin-left:12px;
	}
	.wrap .content ol li {
	list-style-type:decimal;

	}



}
/* end of screen media */

