BODY,H1,H2,H3,H4,H5,H6,P,CENTER,TD,TH,UL,DL,DIV {
  font-family: Arial, Geneva, Helvetica, sans-serif;
}
H1 {
  text-align: center;
  font-size: 160%;
}
H2 {
  font-size: 120%;
}
H3 {
  font-size: 100%;
}

h3.fn,span.fn
{
  background-color: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #ddd #ddd #ddd ;
  font-weight: bold;
  padding: 6px 0px 6px 10px;
  margin: 42px 0px 0px 0px;
}

hr {
  border: 0;
  color: #9E9E9E;
  background-color: #ccc;
  height: 1px;
  width: 100%;
  text-align: left;
  margin: 34px 0px 34px 0px;
}

table {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #dddddd;
	border-collapse: collapse;
	background-color: #f0f0f0;
    margin-left: 1.5%;
    width: 97%
}

table th {
	border-width: 1px 1px 1px 2px;
	padding: 4px;
	border-style: solid;
	border-color: #444;
    color:white;
    background-color:#444;
}

p {
  margin-left: 1.5%;
  margin-top: 8px;
  width: 97%
  margin-bottom: 8px;
}

a:link
{
  color: #0046ad;
  text-decoration: none
}

a:visited
{
  color: #672967;
  text-decoration: none
}

a.obsolete
{
  color: #661100;
  text-decoration: none
}

a.compat
{
  color: #661100;
  text-decoration: none
}

a.obsolete:visited
{
  color: #995500;
  text-decoration: none
}

a.compat:visited
{
  color: #995500;
  text-decoration: none
}

body
{
  background: #ffffff;
  color: black
}

table td.memItemLeft {
  width: 200px;
  padding: 2px 0px 0px 8px;
  margin: 4px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #E0E0E0;
  border-right-color: #E0E0E0;
  border-bottom-color: #E0E0E0;
  border-left-color: #E0E0E0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: #FAFAFA;
  font-size: 100%;
  white-space: nowrap
}
table td.memItemRight {
  padding: 2px 8px 0px 8px;
  margin: 4px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #E0E0E0;
  border-right-color: #E0E0E0;
  border-bottom-color: #E0E0E0;
  border-left-color: #E0E0E0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: #FAFAFA;
  font-size: 100%;
}

table tr.odd {
  background: #f0f0f0;
  color: black;
}

table tr.even {
  background: #e4e4e4;
  color: black;
}

table.annotated th {
  padding: 3px;
  text-align: left
}

table.annotated td {
  padding: 3px;
}

table tr pre
{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  background: none
}

tr.qt-style
{
  background: #96E066;
  color: black
}

body pre
{
  padding: 0.2em;
  border: #e7e7e7 1px solid;
  background: #f1f1f1;
  color: black
}

table tr.qt-code pre
{
  padding: 0.2em;
  border: #e7e7e7 1px solid;
  background: #f1f1f1;
  color: black
}

span.preprocessor, span.preprocessor a
{
  color: darkblue;
}

span.comment
{
  color: darkred;
  font-style: italic
}

span.string,span.char
{
  color: darkgreen;
}

.title
{
    text-align: center
}

.subtitle
{
    font-size: 0.8em
}

.small-subtitle
{
    font-size: 0.65em
}
