IDI_ICON1               ICON    DISCARDABLE     "/../images/guitartuner_icon.ico"

1 VERSIONINFO
FILEVERSION             1,2,0,0
PRODUCTVERSION          1,2,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Nokia Corporation\0"
            VALUE "FileDescription",  "Qt Quick example application.\0"
            VALUE "FileVersion",      "1.2.0\0"
            VALUE "LegalCopyright",   "Copyright (C) 2012 Nokia Corporation and/or its subsidiary(-ies)."
            VALUE "ProductName",      "Guitar Tuner\0"
            VALUE "ProductVersion",   "1.2.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
