[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=searchbox
Exec=/usr/bin/single-instance /opt/searchbox/bin/searchbox
Icon=/usr/share/icons/hicolor/80x80/apps/searchbox80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
