[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=xmlhttprequest-example
Exec=/opt/usr/bin/xmlhttprequest-example
Icon=xmlhttprequest-example
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
